footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    background-color: grey;
}

.big-footer {
    display: flex;
    justify-content: space-between;
    margin: auto 0px;
    width: 80%;
}

.footer-image {
    margin: auto;
    width: 200px;
    height: 100px;
}

.updates {
    margin: 0px 15px;
    width: 400px;
}

.footer-title {
    display: block;
    margin-bottom: 15px;
    margin-top: 0px;
    font-size: 20px;
}

.update {
    display: block;
    font-size: 15px;
}

.social-media-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-media-list {
    display: flex;
}

.social-media-list-container p {
    font-size: 20px;
    margin: 0px;
    margin-bottom: 10px;
}

.social-media-image {
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 0px 5px;
}

.small-footer {
    display: none;
}

@media (max-width: 650px) {
    .big-footer {
        display: none;
    }

    .small-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
}

.horizontal-footer-logo {
    width: 300px;
}

.footer-contact {
    text-decoration: none;
}

.copyright-stuff {
    width: 100%;
    border-style: solid;
    border-width: 0px;
    border-top-width: 1px;
    padding-left: 20px;
}