body {
    margin: 0px;
}

main {
    padding-top: 40px; /*height of header*/
}

.placeholder {
    width: 100%;
}

a {
    text-decoration: underline transparent;
    transition: text-decoration 0.15s ease;
}

a:hover {
    text-decoration-color: blue;
}

.section {
    padding: 30px;
}

.heading {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 12px;
}