body {
    margin: 0px;
}

main {
    padding-top: 40px; /*height of header*/
}

.placeholder {
    width: 100%;
}

a {
    text-decoration: none;
}

.section {
    padding: 30px;
}

.heading {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 12px;
}