header {
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 40px;
    background-color: white;
}

header a {
    font-size: 14px;
    text-decoration: underline transparent;
    transition: text-decoration 0.15s ease;
}

header a:hover {
    text-decoration-color: blue;
}

.this-page {
    text-decoration-thickness: 1px;
}

.header-image {
    height: 24px;
    aspect-ratio: 1/1;
}


/*
big header stuff
*/

.big-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 990px;
    height: 100%;
    margin: auto;
}

.menu-options-container {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    height: 100%;
}

.menu-options {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80%;
    left: 0;
    width: 100px;
    background-color: white;
    border: 1px solid grey;
    padding: 7px;
    opacity: 0%;
    transition: opacity 0.15s;
}

.menu-options-container:hover .menu-options {
    display: flex;
    opacity: 100%;
}

/*
small header stuff
*/

.small-header {
    display: none;
}

.small-nav {
    display: none;
}